<div class="lista-its" ng-hide="registering">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="StepTitle">
        <br>
        Lista de ITs - Gate
      </h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="buttons-row">
        <mp-link class="btn btn-success" id="button" href="cadastraIT">Cadastrar nova IT</mp-link>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Data da Vistoria</th>
      <th>Data da Elaboração</th>
      <th>Opinião Técnica</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="listaITs.length === 0">
      <td colspan="5">Não existem ITs cadastradas.</td>
    </tr>
    <tr *ngFor="let it of listaITs">
      <td>{{formatIT(it.dk)}}</td>
      <td>{{stringToDate(it.dt_VISTORIA)   | date : 'dd/MM/yyyy'}}</td>
      <td>{{stringToDate(it.dt_ELABORACAO) | date : 'dd/MM/yyyy'}}</td>
      <td>{{it.opiniao_TECNICA}}</td>
      <td><a href="{{gateProDataServices.getPDFDownloadURL(it.dk)}}">download</a></td>
    </tr>
    </tbody>
  </table>
<!--  <div style="text-align: center" ng-show="listaITs.length > 0">
    <button ng-click="currentPage=currentPage-1" ng-disabled="currentPage == 0">Anterior</button>
    {{currentPage+1}} / {{numberOfPages()}}
    <button ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= listaITs.length/pageSize - 1">Próxima</button>
  </div>-->

</div>
