<div class="container-fluid">


  <div class="row">
    <p></p>
  </div>

  <div class="row">

    <div id="solicitante" class="col-lg-8 col-sm-10 col-sub col-12">
      <label for="solicitante">Solicitante:</label>
      <p-dropdown [options]="listaSolicitantes" [(ngModel)]="solicitanteId" [style]="{'width': '100%'}" filter="filter" placeholder="escolha..." filterPlaceholder="buscar..." required></p-dropdown>
    </div>

    <!--MPRJ Principal / Associado-->
    <div class="col-xs-6 col-md-3">
      <label for="mprjPrincipal">MPRJ Principal</label>
      <p-dropdown [options]="listaMPRJPrincipais" [(ngModel)]="mprjPrincipalId" [style]="{'width': '100%'}" filter="filter" placeholder="Entre um MPRJ e escolha ao lado o vinculado" filterPlaceholder="buscar..." required></p-dropdown>
    </div>
    <div class="col-xs-6 col-md-3">
      <label for="MPRJVinculado">MPRJ Vinculado</label>
      <p-dropdown [options]="listaMPRJVinculados" [(ngModel)]="mprjVinculadoId" [style]="{'width': '100%'}" filter="filter" placeholder="Entre um MPRJ vinculado e escolha ao lado o principal" filterPlaceholder="buscar..." required></p-dropdown>
    </div>

    <!--Tipo / Subtipo-->
    <div class="col-xs-6 col-md-3">
      <label for="tipo">Tipo</label>
      <p-dropdown [options]="listaTipos" [(ngModel)]="tipoIdOrNewTipoText" [style]="{'width': '100%'}" filter="filter" placeholder="escolha ou crie..." filterPlaceholder="buscar..." editable="editable" required></p-dropdown>
    </div>

    <div class="col-xs-6 col-md-3">
      <label for="subtipo">Subtipo</label>
      <p-dropdown *ngIf="toNumber(tipoIdOrNewTipoText)" [options]="listaSubTipos" [(ngModel)]="subTipoIdOrNewSubTipoText" [style]="{'width': '20%'}" filter="filter" placeholder="escolha ou crie..." filterPlaceholder="buscar..." editable="editable" required></p-dropdown>
      <input *ngIf="!toNumber(tipoIdOrNewTipoText)" type=text [(ngModel)]="subTipoIdOrNewSubTipoText" style="width:20%;"/>
    </div>

    <!--Edificações-->
    <div class="col-xs-12 col-md-6">
      <label for="edificacoes">Edificações</label>
      <p-dropdown [options]="listaEdificacoes" [(ngModel)]="edificacaoId" [style]="{'width': '60%'}" filter="filter" placeholder="escolha ou crie..." filterPlaceholder="buscar..." editable="editable" required></p-dropdown>
    </div>

    <!--Formação-->
    <div class="col-xs-12 col-md-6">
      <label for="formacao">Formação</label>
      <p-dropdown [options]="listaEspecialidades" [(ngModel)]="especialidadeId" [style]="{'width': '20%'}" filter="filter" placeholder="escolha..." filterPlaceholder="buscar..." required></p-dropdown>
    </div>

    <div class="col-xs-12 col-md-6">
      <label for="formacao">Serviços</label>
      <p-dropdown *ngIf="toNumber(especialidadeId)" [options]="listaServicos" [(ngModel)]="servicoId" [style]="{'width': '60%'}" filter="filter" placeholder="escolha..." filterPlaceholder="buscar..." required></p-dropdown>
      <span *ngIf="!toNumber(especialidadeId)" style="font-style: italic;">Escolha uma formação para ver os serviços associados</span>
    </div>

  </div>
</div>
