<div platform>
      <nav class="navbar fixed-top">
         <div class="container-fluid">
          <div class="row">
      
           <div class="col-lg-3 col-md-5 col-sm-3 col-xs-3" >
              <a  class="navbar-brand logo-completo" href="http://www.mprj.mp.br/home">
                <img class="img-fluid" id="logomprjmp" style="margin-left:17%;" alt="MPRJ-image" src="./assets/img/logo_mprj2.png">
              </a>
               <div id="logout">
                   <button   class="btn btn-success" (click)="submit();  ">Logout</button>
             </div>
           <a  class="navbar-brand logo-mini" href="http://www.mprj.mp.br/home">
                <img class="img-fluid" style="margin-left:5%;" alt="MPRJ-image" src="./assets/img/logo_mini_mprj.png">
              </a> 

             
            </div>
            
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8">
              <div style="padding-top: 1%">
  
              </div>
            </div> 
          </div> 
        </div>
      </nav> <br/> <br/> <br/>
      <router-outlet></router-outlet>
  <br/><br/><br/>

   

  <!-- Footer -->
  <footer class="bd-footer text-muted footer-align ">
    <div class="container-fluid">
      <div class = "row">
        <div  class="col-lg-4 col-md-8 col-sm-8 footerleft">
          <p>© 2017 Ministério Público do Rio de Janeiro. Av. Marechal Câmara, n° 370
            Centro - Rio de Janeiro, RJ - Brasil - CEP 20020-080 - Telefone: (21) 2550-9050</p>
        </div>


       
      </div>
    </div>
  </footer>

</div>

