.login {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -150px;
}

.login-logo {
  width: 50%;
  margin: 0 0 30px;
}

.login-error {
  background: #FFDDDD;
  border: 1px solid #FF0000;
  padding: 8px 15px;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 20px;
}

.login-form {
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  padding: 30px 40px;
  display: inline-block;
}

.login-form--input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  font-size: 13px;
}

.login-form--input:focus {
  border: 1px solid #2E3A48;
  box-shadow: 0 0 3px #2E3A48;
}

.login-form--button {
  width: 50%;
  float: right;
  padding: 10px 20px;
  background: #2E3A48;
  color: #FFFFFF;
  font-size: 13px;
  border: none;
  border-radius: 5px;
}
.login-form--button:hover {
  color: #FFFFFF;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #364354;
  width: 180px;
  border: none;
  text-align: left;
  color: white;
  font-size: 14px;
  padding: 15px 15px;
}
