<div class="login">
  <img class="login-logo" src="./assets/img/mp_em_mapas.png" alt="MP em Mapas">

<pre>
  autenticado:               {{isAuthenticated}}) -- {{isAuthenticatedErrorMessaage}};
  tentativa de autenticação: {{autenthicationAttempted}}) -- {{autenthicationAttemptedErrorMessaage}};
</pre>

  <form class="login-form" name="loginForm">

    <div *ngIf="autenthicationAttempted && !isAuthenticated" class="login-error" ng-show="authenticationError">
      <span ><strong>Usuário ou senha inválida!</strong></span>
    </div>

    <input class="login-form--input" type="text" name="username" [(ngModel)]="username" placeholder="Usuário"/>

    <input class="login-form--input" type="password" name="password" [(ngModel)]="password" placeholder="Senha"/>

    <button *ngIf="!isAuthenticating" class="login-form--button" type="submit" (click)="submit();">Autenticar</button>
    <button *ngIf="isAuthenticating"  class="login-form--button" disabled                         >aguarde...</button>
  </form>
</div>
