<div class="container-fluid">

  <div class="divg row" >

    <!--Solicitante-->
    <div id="solicitante" class="col-md-8 col-sub col-12">
      <label for="solicitante">Solicitante:</label>
      <p-dropdown [options]="listaSolicitantes" [(ngModel)]="solicitanteTexto" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione" filterPlaceholder="Buscar..." required></p-dropdown>
    </div>

    <!--MPRJ Principal / Associado-->
    <div class="col-md-4 margin">
      <label for="mprjPrincipal">MPRJ Principal</label><br/>
      <p-dropdown *ngIf="listaMPRJPrincipais" [options]="listaMPRJPrincipais" [(ngModel)]="mprjPrincipalId" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione" filterPlaceholder="Buscar..."></p-dropdown>
      <p-autoComplete *ngIf="!listaMPRJPrincipais" [(ngModel)]="mprjPrincipalText" [suggestions]="fetchedMPRJsVinculados" (completeMethod)="searchMPRJPrincipal($event)"></p-autoComplete>
    </div>
    <div class="col-md-4 margin">
      <label for="MPRJVinculado">MPRJ Vinculado</label><br/>
      <p-dropdown *ngIf="listaMPRJVinculados" [options]="listaMPRJVinculados" [(ngModel)]="mprjVinculadoId" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione" filterPlaceholder="Buscar..."></p-dropdown>
      <p-autoComplete *ngIf="!listaMPRJVinculados" [(ngModel)]="mprjVinculadoText" [suggestions]="fetchedMPRJsVinculados" (completeMethod)="searchMPRJVinculado($event)"></p-autoComplete>
    </div>

    <!--Tipo / Subtipo-->
    <div class="col-md-2 margin">
      <label for="tipo">Tipo</label><br/>
      <p-dropdown [options]="listaTipos" [(ngModel)]="tipoIdOrNewTipoText" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione ou Crie" filterPlaceholder="Buscar..." editable="editable" required></p-dropdown>
    </div>

    <div class="col-md-1 margin">
      <label for="subtipo">Subtipo</label><br/>
      <p-dropdown *ngIf="toNumber(tipoIdOrNewTipoText)" [options]="listaSubTipos" [(ngModel)]="subTipoIdOrNewSubTipoText" filter="filter" placeholder="Selecione ou Crie" filterPlaceholder="Buscar..." editable="editable" required></p-dropdown>
      <input *ngIf="!toNumber(tipoIdOrNewTipoText)" type=text [(ngModel)]="subTipoIdOrNewSubTipoText"/>
    </div>

    <!--Edificações-->
    <div class="col-md-4 margin">
      <label for="edificacoes">Edificações</label>
      <p-multiSelect [options]="listaEdificacoes" [(ngModel)]="edificacoesSelecionadas" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione e/ou Crie" filterPlaceholder="Buscar..." (onChange)="pMultiSelectOnChange(listaEdificacoes)" required>
        <ng-template let-option let-i="index" pTemplate="item">
          <input *ngIf="option.newOption" type="text" placeholder="(novo item, digite)" [(ngModel)]="option.value">
          <span *ngIf="!option.newOption">{{option.label}}</span>
        </ng-template>
      </p-multiSelect>
    </div>

    <!--Formação-->
    <div class="col-md-4 margin">
      <label for="formacao">Formação</label>
      <br><p-dropdown [options]="listaEspecialidades" [(ngModel)]="especialidadeId" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione" filterPlaceholder="Buscar..." required></p-dropdown>
    </div>

    <!--Serviços-->
    <div class="col-md-4 margin">
      <label for="servicos">Serviços</label>
      <p-multiSelect *ngIf="toNumber(especialidadeId)" [options]="listaServicos" [(ngModel)]="servicosSelecionados" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione e/ou Crie" filterPlaceholder="Buscar..."  (onChange)="pMultiSelectOnChange(listaServicos)" required>
        <ng-template let-option let-i="index" pTemplate="item">
          <input *ngIf="option.newOption" type="text" placeholder="(novo item, digite)" [(ngModel)]="option.value">
          <span *ngIf="!option.newOption">{{option.label}}</span>
        </ng-template>
      </p-multiSelect>
      <span *ngIf="!toNumber(especialidadeId)" style="font-style: italic;"><br>Escolha uma formação para ver os serviços associados</span>
    </div>

    <!--Palavras chave-->
    <div class="col-md-12 margin">
      <label for="palavrasChave">Palavras Chave</label>
      <p-multiSelect [options]="listaAssuntos" [(ngModel)]="assuntosSelecionados" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione" filterPlaceholder="Buscar..." required>
        <ng-template let-option let-i="index" pTemplate="item">
          <span>{{option.label}}</span>
        </ng-template>
      </p-multiSelect>
    </div>

    <!--Data da Vistoria-->
    <div class="col-md-6 margin">
      <label for="dataDaVistoria">Data da Vistoria</label>
      <br><p-calendar [(ngModel)]="dtVistoria" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1988:2100" [style]="{'width': '100%'}"></p-calendar>
    </div>

    <!--Data da Elaboração-->
    <div class="col-md-6 margin">
      <label for="dataDaElaboracao">Data da Elaboração</label>
      <br><p-calendar [(ngModel)]="dtElab" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1988:2100" [style]="{'width': '100%'}"></p-calendar>
    </div>
  </div>

    <div class="divg row">

    <!--Logradouro-->
    <div class="col-md-6 margin">
      <label for="logradouro">Logradouro</label>
      <br><input [style]="{'width': '100%'}" type="text" [(ngModel)]="logradouro">
    </div>

    <!--Número-->
    <div class="col-md-6 margin">
      <label for="numero">Número</label>
      <br><input [style]="{'width': '100%'}" type="text" [(ngModel)]="numero">
    </div>

    <!--Complemento-->
    <div class="col-md-6 margin">
      <label for="complemento">Complemento</label>
      <br><input type="text" [style]="{'width': '100%'}" [(ngModel)]="complemento">
    </div>

    <!--Bairro-->
    <div class="col-md-6 margin">
      <label for="bairro">Bairro</label>
      <br><input [style]="{'width': '100%'}" type="text" [(ngModel)]="bairro">
    </div>

    <!--Cidade/UF-->
    <div class="col-md-6 margin">
      <label for="cidadeUf">Cidade/UF</label>
      <br><input [style]="{'width': '100%'}" type="text" [(ngModel)]="cidade">
    </div>

    <!--CEP-->
    <div class="col-md-6 margin">
      <label for="cep">CEP</label>
      <br><input [style]="{'width': '100%'}" type="text" [(ngModel)]="cep">
    </div>

    <!--Mapa-->
    <div class="col-md-6 margin">
      <label for="mapa">Mapa</label>
      <p-gmap #gmap [style]="{'width':'100%','height':'320px'}" [options]="options" [overlays]="overlays" (onMapClick)="handleMapClick($event)"></p-gmap>
      <!--<button type="button" pButton label="Clear" icon="fa-close" (click)="clear()" style="margin-top:10px"></button>
      <button type="button" pButton label="Zoom In" icon="fa-search-plus" (click)="zoomIn(gmap.getMap())" style="margin-top:10px"></button>
      <button type="button" pButton label="Zoom Out" icon="fa-search-minus" (click)="zoomOut(gmap.getMap())" style="margin-top:10px"></button>-->
    </div>
      <br/>

    <!--Latitude-->
    <div class="col-md-6 margin">
      <label for="latitude">Latitude</label>
      <br><input [style]="{'width': '100%'}" type="text" placeholder="selecione no mapa ou digite" [(ngModel)]="latitude">
    </div>

    <!--Longitude-->
    <div class="col-md-6 margin">
      <label for="longitude">Longitude</label>
      <br><input [style]="{'width': '100%'}" type="text" placeholder="selecione no mapa ou digite" [(ngModel)]="longitude">
    </div>
    </div>

    <div class="divg row" >

      <!--Opinião Técnica-->
      <div class="col-md-6 margin">
        <label for="opiniaotecnica">Opinião Técnica</label>
        <br><input id="opt" [style]="{'width': '100%'}" type="text" [(ngModel)]="optec">
      </div>


      <!--Técnicos-->
      <div class="col-md-6 margin">
        <label for="tecnicos">Técnicos</label>
        <p-multiSelect [options]="listaTecnicos" [(ngModel)]="tecnicosSelecionados" [style]="{'width': '100%'}" filter="filter" placeholder="Selecione" filterPlaceholder="Buscar..." required>
          <ng-template let-option let-i="index" pTemplate="item">
            <span>{{option.label}}</span>
          </ng-template>
        </p-multiSelect>
      </div>

      <!--Inserir PDF-->
      <div class="col-md-6 margin">
        <label for="inserirpdf">Insira o PDF</label>
        <br><input  [style]="{'width': '100%'}" type="file" (change)="setFileToUpload($event);">
      </div>

    </div>

  <button class="btn btn-success" (click)="submit();">Enviar</button>

  <pre *ngIf="postFormDataResult">
postFormDataResult:         (errCod: {{postFormDataResult.errCod}} ErrTxt: '{{postFormDataResult.errTxt}}')
{{postFormDataErrorMessage}}
  </pre>


  </div>
